.button-type-editor .button-plus {
    -fx-padding: 4 4 4 4;
    -fx-graphic: url("../plus-black-thin-7x7.png");            
}

.button-type-editor .button-minus {
    -fx-padding: 4 4 4 4;
    -fx-graphic: url("../minus-black-thin-7x7.png");    
}

.button-type-editor .string-textfield {
    -fx-background-color: aqua;
    -fx-border-color: red;
}