.button-type-editor .plus-button {
    -fx-graphic: url("../plus-black-thin-7x7.png");            
    -fx-padding: 3 5 4 5 ;
}

.button-type-editor .minus-button {
    -fx-padding: 3 5 4 5;
    -fx-graphic: url("../minus-black-thin-7x7.png");    
}

.button-type-editor .text-field {
    /*-fx-background-color: inherit;
    -fx-border-color: lightgrey;
    */
    
}

.bean-editor-category-pane .tree-cell .tree-disclosure-node  .arrow {
    -fx-padding: 0.6em 0.6em 0.6em 0.6em;     
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url(../plus-blue-16x16.png);
}

.bean-editor-category-pane .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url(../minuss-blue-16x16.png);
    -fx-rotate: 0;
}

