.root {
    -my-own-color: yellow;
}
/*******************************************************************************
 * BorderPane                                                                  *
 ******************************************************************************/
.border-pane-indicator .center,.top,.right,.bottom,.left{
    -fx-border-color: black; 
    -fx-border-width:1.5; 
    -fx-opacity: 0.3; 
    -fx-background-color: lightgray; 
    -fx-text-fill: black
}
/*******************************************************************************
 * StackPane indicator                                                         *
 ******************************************************************************/
.stack-pane-indicator .center,.top,.right,.bottom,.left{
    -fx-border-color: black; 
    -fx-border-width:1.5; 
    -fx-opacity: 0.3; 
    -fx-background-color: -fx-outer-border; 
    -fx-text-fill: black
}
.docktitlebar-insert-pinbutton {
    -fx-graphic: url(pin-black-8x8.png);
}
.docktitlebar-insert-statebutton {
    -fx-graphic: url(restore.png);
}
.docktitlebar-insert-closebutton {
    -fx-graphic: url(close.png);
}

/*********************************************
 *  Drag Indicator's Styles                  *
 *********************************************/
.tab-place {
    -fx-fill: transparent;
    -fx-opacity: 0.3;
    -fx-stroke: -fx-selection-bar;
    -fx-stroke-width: 3;
    -fx-stroke-type: inside;
    -fx-stroke-dash-array: 8 2;
    -fx-stroke-line-cap: butt;

}
.list-based-indicator > .dock-place {

    -fx-fill: -fx-selection-bar;
    -fx-opacity: 0.3;
    -fx-stroke: -fx-selection-bar;;
    -fx-stroke-width: 3;
    -fx-stroke-type: inside;
    -fx-stroke-line-cap: butt;
}

.dock-place {
    -fx-fill: transparent;
    -fx-opacity: 0.3;

    -fx-stroke:-fx-selection-bar;;
    -fx-stroke-width: 3;
    -fx-stroke-type: inside;
    -fx-stroke-dash-array: 8 2;
    -fx-stroke-line-cap: butt;

}
/*================================================
 *    Used by SideIndicator of the DockNode      *
 *===============================================*/   
.dock-pos-node-indicator {
    -fx-padding: 10;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-shape: "M0,10 a10,10 0 1,0 20,0 a10,10 0 1,0 -20,0";
    -fx-background-color: rgba(50, 50, 100, 0.4);
    -fx-border-width: 50;
    -fx-border-color: rgba(50, 50, 100, 0.2);
}

/*========================================================
 *  Buttons to display dock position relative to a node  *
 *=======================================================*/   
.drag-node-indicator-top-button {
    -fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 4;
}

.drag-node-indicator-bottom-button {
    -fx-graphic: url(dock-popup-bottom-24x24.png);
    -fx-padding: 4;
}
.drag-node-indicator-left-button { 
    -fx-graphic: url(dock-popup-left-24x24.png);
    -fx-padding: 4;
}

.drag-node-indicator-right-button {
    -fx-graphic: url(dock-popup-right-24x24.png);
    -fx-padding: 4;
}

.drag-node-indicator-center-button {
    -fx-graphic: url(target-icon-24x24.png);
    -fx-padding: 4;
}

/*============================================================
 *  Buttons th display dock position relative to a DockPane  *
 *===========================================================*/  
.drag-pane-indicator {
    -fx-border-width: 1.0; 
    -fx-border-color: -fx-selection-bar;
}

.drag-pane-indicator-top-button {
    -fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 4;
}

/*.drag-pane-indicator-top-button:tabover {
    -fx-graphic: url(uparrow-blue-16x16.png);
    -fx-padding: 0;
}
*/
.drag-pane-indicator-right-button {
    -fx-graphic: url(dock-popup-right-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator-bottom-button {
    -fx-graphic: url(dock-popup-bottom-24x24.png);
    -fx-padding: 4;
}
.drag-pane-indicator-left-button { 
    -fx-graphic: url(dock-popup-left-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator-center-button {
    -fx-graphic: url(target-icon-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator-center-button-pane {
    visibility: hidden;
}


/*******************************************************************************
 *                                                                             *
 * DockNode                                                                    *
 *                                                                             *
 ******************************************************************************/
.dock-node {
      -fx-background-color: -fx-background;
      -fx-padding: 2 2 2 2;
}


/***************************************************************************
 *                                                                         *
 * The styles of the floating window during the drag-and-drop process.     *
 *                                                                         *
 **************************************************************************/
.float-window-root {
      -fx-background-color: -fx-background;
      -fx-border-width: 1;
      -fx-border-color: -fx-outer-border;
}

/*******************************************
 *          DockSideBar
 *******************************************/   
.sidebar {
    
}

.sidebar > .tool-bar {
}
.sidebar > .tool-bar:vertical {
}
.sidebar > .tool-bar:horizontal {
}
.sidebar .button {
    -fx-background-insets: 0;
}
.sidebar .button:hover  {
    -fx-text-fill: blue;
    -fx-background-color: inherit;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}
.sidebar .drag-button {
    -fx-graphic: url(drag-node-16x16.png);
}

.sidebar .drag-button:hover  {
    -fx-background-color: inherit;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

.sidebar-popup-root {
    -fx-border-width: 1;
    -fx-border-color: -fx-outer-border;
}

/* ***********************************************
 *              DockTitleBar 
 * ***********************************************/   

.dock-title-bar {
    -fx-padding: 2;
    -fx-spacing: 3;
    -fx-border-width: 1;
    -fx-border-color: -fx-outer-border;
}


.title-label {
    -fx-graphic: url(docknode-16x16.png);
    -fx-padding: 0 0 3 0;
}
.dock-title-bar .button {
    -fx-padding: 1 4 1 4;
    -fx-border-width: 0; 
}

.pin-button {
    -fx-graphic: url(pin-black-8x8.png);
}
.state-button {
    -fx-graphic: url(restore.png);
}
.close-button {
    -fx-graphic: url(close.png);
}

.dock-title-bar:choosed {
    -fx-background-color:  -fx-selection-bar;
    -fx-text-fill: white;
}

.dock-title-bar:choosed .title-label{
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
}

.dock-title-bar:choosed .button {
    -fx-background-color: -fx-selection-bar;
} 

.dock-title-bar:choosed .pin-button {
    -fx-graphic: url(pin-white-8x8.png);
} 
.dock-title-bar:choosed .state-button {
    -fx-graphic: url(restore-white.png);
} 
.dock-title-bar:choosed .close-button {
    -fx-graphic: url(close-white.png);
} 

