/*******************************************************************************
 *                                                                             *
 * DockPane                                                                    *
 *                                                                             *
 ******************************************************************************/
/*.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane-divider {
   -fx-background-color: transparent;
}
*/
/* ---------------------------------
    Original: -fx-padding: 4 6 4 8;
  ----------------------------------*/
.myTree .tree-cell {
    -fx-background-color: rgb(240,240,240) ;
    -fx-text-fill: rgb(240,240,240) ;
}
.labeled-insert-graphic {
    /*-fx-graphic: url(grapfic-frame-black-16x16.png);*/
    -fx-graphic: url(graphic-frame-16x16.png);

}
.tree-item-node-button {
    -fx-graphic: url(button-16x16.png);
}

.tree-item-node-hbox {
    -fx-graphic: url(hbox-16x16.png);

}
.tree-item-node-vbox {
    -fx-graphic: url(vbox-16x16.png);

}
.tree-item-node-stackpane {
    -fx-graphic: url(stackpane-16x16.png);

}
.tree-item-node-pane {
    -fx-graphic: url(pane-16x16.png);

}
.tree-item-node-gridpane {
    -fx-graphic: url(gridpane-16x16.png);
}
.tree-item-node-borderpane {
    -fx-graphic: url(borderpane-16x16.png);
}
.tree-item-node-anchorpane {
    -fx-graphic: url(anchorpane-16x16.png);
}
.tree-item-node-flowpane {
    -fx-graphic: url(flowpane-16x16.png);
}
.tree-item-node-scrollpane {
    -fx-graphic: url(scrollpane-16x16.png);
}
.tree-item-node-splitpane {
    -fx-graphic: url(splitpane-16x16.png);
}
.tree-item-node-titledpane {
    -fx-graphic: url(titledpane-16x16.png);
}
.tree-item-node-tilepane {
    -fx-graphic: url(tilepane-16x16.png);
}
.tree-item-node-tabpane {
    -fx-graphic: url(tabpane-16x16.png);
}
.tree-item-node-rectangle {
    -fx-graphic: url(rectangle-16x16.png);
}

.tree-item-node-accordion {
    -fx-graphic: url(accordion-16x16.png);
}

.tree-item-node-label {
    -fx-graphic: url(label-16x16.png);
}
.tree-cell {
    -fx-indent: 20;
    -fx-cell-size: 40;
} 
.cell {
    -fx-cell-size: 40;
} 
.tree-cell > .tree-disclosure-node {
    -fx-padding: 4 6 4 8;
}


/*.tree-cell .tree-disclosure-node {
    -fx-translate-y: 4 ;
}
*/
.tree-cell .tree-disclosure-node .arrow {
    /*    -fx-shape: "M0,3h3V0h1v3h3v1H4v3H3l0-3H0V3z";
        -fx-padding: 0.2em;
    */
    -fx-padding: 0.6em 0.6em 0.6em 0.6em;     
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url(plus-blue-16x16.png);

}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    /*-fx-background-image: url(docknode-16x16.png);*/
    -fx-background-image: url(minus-blue-16x16.png);
    -fx-rotate: 0;
}
/*.tree-cell .tree-disclosure-node .arrow {
-fx-padding: 0.6em 0.6em 0.6em 0.6em;     
-fx-shape: "M0 -0.5 h2 v2 h1 v-2 h2 v-1 h-2 v-2 h-1 v2 h-2 v1z";
}

.tree-cell:expanded .tree-disclosure-node .arrow {
-fx-shape: "M0 -0.5 h5 v-1 h-5 v1z";
-fx-padding: 4 0.25 4 0.25;
}
*/
.custom-control {
    -fx-skin: "org.vns.javafx.dock.api.controls.CustomControlSkin";
}
/*.dock-dock-indnode-title-label {   
    -fx-padding: 0 0 3 0;
    -fx-text-fill: blue;
    -fx-background-color: rgba(50, 50, 100, 0.4);
    -fx-effect: dropshadow( gaussian, rgba(255,254,254,0.2), 0,0,0,1 );
}
*/
.dock-node:floating .dock-title-state-button {
    /*-fx-graphic: url(maximize.png);*/
    -fx-graphic: url(restore.png);
}

.dock-node:maximized .dock-title-state-button {
    -fx-graphic: url(restore.png);
}

/*********************************************
 *
 *  Drag Indicator's Styles
 *
 *********************************************/
.dock-place {
    -fx-fill: -fx-selection-bar;
    -fx-opacity: 0.5;

    -fx-stroke: yellow;
    -fx-stroke-width: 1;
    -fx-stroke-type: inside;
    -fx-stroke-dash-array: 8 2;
    -fx-stroke-line-cap: butt;

}
.dock-place-hide {
    -fx-fill: -fx-selection-bar;
    -fx-opacity: 0.5;
}

.dock-place2 {
    -fx-fill: gray;
    -fx-opacity: 0.2;
    -fx-stroke: -fx-selection-bar;
    -fx-stroke-width: 1;
    -fx-stroke-type: inside;
}

.drag-node-indicator {
}

.drag-node-indicator-top-button {
    -fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 4;
}

.drag-node-indicator-bottom-button {
    -fx-graphic: url(dock-popup-bottom-24x24.png);
    -fx-padding: 4;
}
.drag-node-indicator-left-button { 
    -fx-graphic: url(dock-popup-left-24x24.png);
    -fx-padding: 4;
}

.drag-node-indicator-right-button {
    -fx-graphic: url(dock-popup-right-24x24.png);
    -fx-padding: 4;
}

.drag-node-indicator-center-button {
    -fx-graphic: url(target-icon-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator {
    -fx-border-width: 1.0; 
    -fx-border-color: -fx-selection-bar;
}


.drag-pane-indicator-top-button {
    -fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator-top-button:tabover {
    -fx-graphic: url(uparrow-blue-16x16.png);
    -fx-padding: 0;
}

.drag-pane-indicator-right-button {
    -fx-graphic: url(dock-popup-right-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator-bottom-button {
    -fx-graphic: url(dock-popup-bottom-24x24.png);
    -fx-padding: 4;
}
.drag-pane-indicator-left-button { 
    -fx-graphic: url(dock-popup-left-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator-center-button {
    -fx-graphic: url(target-icon-24x24.png);
    -fx-padding: 4;
}

.drag-pane-indicator-center-button-pane {
    visibility: hidden;
}
.drag-redir-indicator {
    -fx-background-color: transparent;
}
.drag-redir-indicator-top-button {
    /*-fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 0;*/
    -fx-graphic: url(docknode-16x16.png);   
    -fx-padding: 4,4,4,2;

}
.drag-redir-indicator-right-button {
    /*-fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 0;*/
    -fx-graphic: url(docknode-16x16.png);   
    -fx-padding: 4,4,4,2;

}
.drag-redir-indicator-bottom-button {
    /*-fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 0;*/
    -fx-graphic: url(docknode-16x16.png);   
    -fx-padding: 4,4,4,2;

}
.drag-redir-indicator-left-button {
    /*-fx-graphic: url(dock-popup-top-24x24.png);
    -fx-padding: 0;*/
    -fx-graphic: url(docknode-16x16.png);   
    -fx-padding: 4,4,4,2;

}

/*******************************************************************************
 *                                                                             *
 * DockNode                                                                    *
 *                                                                             *
 ******************************************************************************/
.dock-node-border {
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 10,0.2,0,0 );
}
.dock-node-border:maximized {
    -fx-padding: 0;
}
/*
.dock-node {
    -fx-background-color: -fx-background;
}
*/
.dock-title-bar {
    -fx-background-color: -fx-background;
    -fx-padding: 2;
    -fx-spacing: 3;
    -fx-border-width: 1;
    -fx-border-color: -fx-outer-border;
}

.dock-title-bar:choosed {
    -fx-background-color: #0093ff;
    -fx-font-color: white;
}

.dock-title-bar:choosed .dock-title-label{
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.dock-title-label {
    -fx-graphic: url(docknode-16x16.png);
    -fx-padding: 0 0 3 0;
    -fx-text-fill: -fx-text-base-color;
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.2), 0,0,0,1 );
}

.drag-button {
    -fx-graphic: url(drag-12x12-02.png);
    -fx-border-width: 0;
    -fx-spacing: 0;
    -fx-background-insets: 1 0 0 0;

}

/*******************************************
 *      ------  DockSideBar --------
 *******************************************/   
.dock-side-bar {
    /*-fx-padding: 0;*/
    -fx-border-width: 0;
    -fx-border-color: blue;

}


.dock-side-bar > .tool-bar {
    /* -fx-spacing: 30; */
}
.dock-side-bar > .tool-bar:vertical {
    /*-fx-spacing: 30;*/ 
}
.dock-side-bar > .tool-bar:horizontal {
    /*-fx-spacing: 30; */
}
.dock-side-bar .button {
    -fx-background-insets: 0;
}
.dock-side-bar .button:hover  {
    -fx-text-fill: blue;
    -fx-background-color: inherit;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

/* ***********************************************
 *   ------  DockTabPane2 --------
 * ***********************************************/   
.dock-tab-pane2 .tab-area .dock-title-bar {
    -fx-border-width: 0.5; 

}
.dock-tab-pane2 .tab-area .dock-title-bar .button {
    -fx-border-width: 1; 
    -fx-border-color: -fx-outer-border;
    -fx-padding: 1 2 1 2;
}

.dock-tab-pane2 .tab-area .dock-title-bar .dock-title-label {
    -fx-graphic: url(docknode-8x8.png);
}
.dock-tab-pane2 .tab-area .dock-title-bar:choosed .dock-title-label {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.dock-tab-pane2 .tab-area .dock-title-bar:choosed .button {
    -fx-border-width: 0; 
}


.dock-tab-pane2 .tab-area .drag-button {
    -fx-graphic: url(drag-16x16-01.png);
    -fx-min-width: 16;
    -fx-max-width: 16;
}

.dock-tab-pane2 .tab-area .scroll-buttons-pane {
    /*-fx-spacing: 2;*/
}

.dock-tab-pane2 .tab-area .hscroll-button {
    -fx-background-color: transparent;  
    -fx-min-width: 13;
    -fx-max-width: 13;
}

.dock-tab-pane2 .tab-area .left-scroll {
    -fx-graphic: url(left-arrow-7x7.png);

}
.dock-tab-pane2 .tab-area .right-scroll {
    -fx-graphic: url(right-arrow-7x7.png);
}

.dock-tab-pane2 .tab-area .left-scroll:hover {
    -fx-background-color: rgb(226,226,226);  
}
.dock-tab-pane2 .tab-area .right-scroll:hover {
    -fx-background-color: rgb(226,226,226); 
}

.dock-tab-pane2 .tab-area .tab-menu-button {
    -fx-graphic: url(title-menu-button-12x12.png);
    -fx-background-color: transparent; 
}
.dock-tab-pane2 .tab-area .tab-menu-button:hover {
    -fx-graphic: url(title-menu-button-12x12.png);
    -fx-background-color: rgb(226,226,226);  
}

.dock-tab-pane2 .tab-area .separator:vertical .line {
    -fx-background-color: transparent;
    -fx-border-width:  0 1 0 0;
}

.scroll-pane > .viewport {
    /*-fx-background-color: aqua;*/
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* ***********************************************
 *      ------  DockTitleBar  --------
 * ***********************************************/   
.dock-title-bar .button {
    -fx-padding: 1 4 1 4;
    -fx-border-width: 0; 
}

.dock-title-state-button {
    -fx-graphic: url(restore.png);
}

.dock-title-bar:choosed .dock-title-state-button {
    -fx-graphic: url(restore-white.png);
    -fx-background-color: #0093ff;
} 
.dock-title-bar:choosed .dock-title-state-button:hover {
    -fx-graphic: url(restore-white.png);
    -fx-background-color: #1187ff;
} 

.dock-title-bar:choosed .dock-title-close-button {
    -fx-graphic: url(close-white.png);
    -fx-background-color: #0093ff;
} 
.dock-title-bar:choosed .dock-title-close-button:hover {
    -fx-graphic: url(close-white.png);
    -fx-background-color: #1187ff;
} 

.dock-title-close-button {
    -fx-graphic: url(close.png);
}

.dock-title-menu-button {
    -fx-background-color: transparent;  
    -fx-graphic: url(title-menu-button-12x12.png);
}
.dock-title-menu-button:hover {
    -fx-background-color: rgb(226,226,226);  
    -fx-graphic: url(title-menu-button-12x12.png);
}

.dock-title-pin-button {
    -fx-graphic: url(pin-black-8x8.png);
}

.dock-title-bar:choosed .dock-title-pin-button {
    -fx-graphic: url(pin-white-12x12.png);
    -fx-background-color: #0093ff;
    -fx-padding: 0 0 0 0;
    -fx-padding: 1px 1px 1px 1px;       
} 
.dock-title-bar:choosed .dock-title-pin-button:hover {
    -fx-background-color: #1187ff;
} 
/* ***********************************************
 *      ------  ParentChainPopup  --------
 * ***********************************************/   
.parent-chain-button {
    -fx-graphic: url(docknode-16x16.png);   
    -fx-padding: 4,4,4,2;
    /*    -fx-border-width: 0;
        -fx-spacing: 0;
        -fx-background-insets: 0;
    */    

}
.parent-chain-root {
    -fx-background-color: white;
}

